<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/repo-crafter.png') }}" type="image/x-icon">
    <title>Repo Crafter - PyJa</title>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje.css') }}">
</head>
<body>
    <header>
        <h1>Repo Crafter - Pyja</h1>
    </header>
    <main>
        <div class="contenedor-acciones">
            <div class="buscador">
                <input type="search" name="buscador" id="buscador" placeholder="Buscar por: nombre | visibilidad">
            </div>
            {% with mensajes = get_flashed_messages(with_categories=true) %}
                {% if mensajes %}
                    <div class="contenedor-mensaje">
                        {% for categoria, mensaje in mensajes %}
                            <div class="mensaje {{ categoria }}">
                                {{ mensaje }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="acciones">
                <button type="button" id="abrir-modal-crea-repo">Crear repo</button>
                <button type="button" id="abrir-modal-clona-repos">Clonar todo</button>
                </form>
            </div>
        </div>
        <table id="tabla-repos">
            <thead>
                <th>Nombre</th>
                <th>Visibilidad</th>
                <th>Página</th>
                <th>Gestión</th>
            </thead>
            <tbody>
                {% for repo in repos %}
                <tr>
                    <td data-label="Nombre">{{ repo.name }}</td>
                    <td data-label="Visibilidad">
                        {{ 'Privado' if repo.private else 'Público' }}
                        <form action="/cambiar_visibilidad/{{ repo.name }}" method="post">
                            <label class="visibilidad">
                                <input type="checkbox" name="cambia-visibilidad" id="cambia-visibilidad" {% if repo.private %} checked {% endif %}>
                                <span class="deslizante">
                                    <span class="material-symbols-outlined icono privado" title="privado">lock</span>
                                    <span class="material-symbols-outlined icono publico" title="publico">public</span>
                                </span>
                            </label>
                        </form>
                    </td>
                    <td data-label="Página">
                        {% if repo.private %}
                            No disponible
                        {% else %}
                            {{ 'Creada' if repo.has_pages else 'No creada' }}
                            <form action="/crea_elimina_pagina/{{ repo.name }}" method="post">
                                <label class="visibilidad">
                                    <input type="checkbox" name="crea-pagina" id="crea-pagina" {% if repo.has_pages %} checked {% endif %}>
                                    <span class="deslizante">
                                        <span class="material-symbols-outlined icono privado" title="privado">unarchive</span>
                                        <span class="material-symbols-outlined icono publico" title="publico">pages</span>
                                    </span>
                                </label>
                            </form>
                        {% endif %}
                    </td>
                    <td data-label="Gestión">
                        <div class="botones">
                            <button type="button" class="boton-clonar" title="clonar" data-nombre="{{ repo.name }}" data-visibilidad="{{ 'privado' if repo.private else 'publico' }}">
                                <span class="material-symbols-outlined">content_copy</span>
                            </button>
                            <button type="button" class="boton-actualizar" title="actualizar" data-nombre="{{ repo.name }}" data-visibilidad="{{ 'privado' if repo.private else 'publico' }}">
                                <span class="material-symbols-outlined">update</span>
                            </button>

                            <button type="button" class="boton-eliminar" title="eliminar" data-nombre="{{ repo.name }}">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="contenedor-total-repos">
                            <span>Total de repositorios:</span>
                            <span id="total-repos">{{ repos | length }}</span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Modal crea repo -->
        <div class="contenedor-modal" id="modal-crea-repo">
            <div class="modal">
                <div class="cabecera-modal">
                    <h1>Crear repositorio</h1>
                    <span class="material-symbols-outlined" id="cerrar-modal-crea-repo">close</span>
                </div>
                <div class="cuerpo-modal">
                    <form action="/crea_repo" method="post" enctype="multipart/form-data">
                        <div class="control">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre">
                        </div>
                        <fieldset>
                            <legend>¿Privado?:</legend>
                            <div class="radio-group">
                                <input type="radio" id="si" name="visibilidad" value="si" checked>
                                <label for="si">Si</label>

                                <input type="radio" id="no" name="visibilidad" value="no">
                                <label for="no">No</label>
                            </div>
                        </fieldset>
                        <button type="submit">Crear</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal clona repos -->
        <div class="contenedor-modal" id="modal-clona-repos">
            <div class="modal">
                <div class="cabecera-modal">
                    <h1>¿Desea clonar todos los repositorios?</h1>
                    <span class="material-symbols-outlined" id="cerrar-modal-clona-repos">close</span>
                </div>
                <div class="cuerpo-modal">
                    <form action="/clona_repos" method="post" enctype="multipart/form-data">
                        <button type="button" id="boton-cerrar-modal-clona-repos">No</button>
                        <button type="submit">Si</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal clona repo -->
        <div class="contenedor-modal" id="modal-clona-repo">
            <div class="modal">
                <div class="cabecera-modal">
                    <h1>¿Desea clonar este repo?</h1>
                    <span class="material-symbols-outlined" id="cerrar-modal-clona-repo">close</span>
                </div>
                <div class="cuerpo-modal">
                    <form action="" method="post" id="form-clona-repo">
                        <button type="button" id="boton-cerrar-modal-clona-repo">No</button>
                        <button type="submit">Si</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal actualiza repo -->
        <div class="contenedor-modal" id="modal-actualiza-repo">
            <div class="modal">
                <div class="cabecera-modal">
                    <h1>Actualiza repo</h1>
                    <span class="material-symbols-outlined" id="cerrar-modal-actualiza-repo">close</span>
                </div>
                <div class="cuerpo-modal">
                    <form action="" method="post" id="form-actualiza-repo">
                        <ul id="lista-archivos"></ul>
                        <div class="control">
                            <label for="mensaje-commit">Mensaje</label>
                            <input type="text" name="mensaje-commit" id="mensaje-commit">
                        </div>
                        <button type="submit">Commit</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal elimina repo -->
        <div class="contenedor-modal" id="modal-elimina-repo">
            <div class="modal">
                <div class="cabecera-modal">
                    <h1>¿Desea eliminar este repo?</h1>
                    <span class="material-symbols-outlined" id="cerrar-modal-elimina-repo">close</span>
                </div>
                <div class="cuerpo-modal">
                    <form action="" method="post" id="form-elimina-repo">
                        <button type="button" id="boton-cerrar-modal-elimina-repo">No</button>
                        <button type="submit">Si</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        &copy; Todos los derechos reservados 2025 - JeironPro
    </footer>
    <script src="{{ url_for('static', filename='js/buscador.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mensaje.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visibilidad.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pagina.js') }}"></script>
</body>
</html>